
:root {
    --blueborder: #0466C8;
    --bluedescirption: #023E7D;
    --bluetab: #001845;
    --bluewebsite: #33415C;
    --bluetext: #979DAC; 
}

body {
    background-color: var(--bluewebsite);
}
.websiteborder {
    background-color: var(--blueborder);
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    color: var(--bluetext);
    border: 2px solid blue;
    width: fit-content;
    text-align: center;
    font-size: 50px;
}
 
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: grey;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
 
  .TabButton {
    border: 1px dotted blue;
    font-size: 50px;
 }

.AboutTab {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between; 
    text-align: center;
    border: 2px solid blue;
    width: 30%;  
}

.centertext {
    text-align: center;
    font-size: 40px;
}


