:root {
    --blueborder: #0466C8;
    --bluedescirption: #023E7D;
    --bluetab: #001845;
    --bluewebsite: #33415C;
    --bluetext: #979DAC; 
}

body {
    background-color: var(--bluewebsite);
}
.websiteborder {
    background-color: var(--blueborder);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: auto;
    border: 10px solid black;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    color: black;
    text-align: center;
    font-size: 50px;
}
 
a:link {
    color: black;
    background-color: var(--bluedescirption);
    text-decoration: none;
    text-transform: capitalize;
  }
  
a:visited {
    color: black;
    background-color: var(--bluedescirption);
    text-decoration: none;
  }
  
a:hover {
    color: grey;
    background-color: var(--bluedescirption);
    text-decoration: none;
  }
  
a:active {
    color: white;
    background-color: var(--bluedescirption);
    text-decoration: none;
  }
 
.TabButton {
    border: 8px ridge var(--bluetab);
    font-size: 50px;
 }

.AboutTab {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between; 
    text-align: center;
    width: 30%;
}

.tabbackground {
  background-color: var(--bluetab);
  margin: auto;
}

.borderfit {
  border: 5px solid black;
  background-color: var(--bluedescirption);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.centertext {
  text-align: center;
  font-size: 40px;
}

.textandborder {
  border: 5px solid black;
  background-color: var(--bluedescirption);
}

.descriptionalignment {
  display: flex;
}

.ptext {
  text-decoration: underline;
}

.images {
  margin: auto;
  border: 5px solid black;
  background-color: var(--bluetext);
  width: 300px;
  height: 300px;
  }

  .descriptions {
    border: 5px solid black; 
    background-color: var(--bluedescirption);
    width: 75%;
    text-align: left;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-indent: 5%;
    font-size: 30px;
  }