
h1 {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 20%;
    font-size: 50px;
}



.food-category {
    /* border: 1px solid black; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.food-type {
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    width: 40%;
    height: 650px;
    justify-content: space-around;
}

.food-list-name {
    border: 1px solid black;
    width: 10%;
    text-align: center;
    font-size: 40px;
}

.food-list {
    width: 40%;
    height: 40%;
    text-align: center;
    align-self: center;
    padding: 10px;
}

.category-header {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 20%;
    font-size: 40px;
}

img {
    width: 200px;
    height: 200px;
}

p {
    font-size: 30px;
}
                

                /* Colors */
body {
    background-color: rgb(218, 218, 218);
}

#canned {
    background-color: rgb(224, 6, 6);
}

#dry-foods {
    background-color: rgb(155, 152, 152);
}

#cooler {
    background-color: rgb(5, 177, 177);
}

#freezer {
    background-color: rgb(81, 81, 231);
}

#pantry-color {
    background-color: rgb(238, 118, 118);
}

#cold-color {
    background-color: rgb(95, 95, 248);
}


